<div id="cover"></div>
<div id="about"></div>
<div id="blog"></div>
<div id="works"></div>
<div id="experience"></div>
<div id="education"></div>
<div id="contact"></div>
<div id="social-networks"></div>