Rails.application.routes.draw do
  # For details on the DSL available within this file, see https://guides.rubyonrails.org/routing.html
  get 'ferbin/about', to: 'ferbin#about'
  get 'ferbin/works', to: 'ferbin#works'
  get 'ferbin/experience', to: 'ferbin#experience'
  get 'ferbin/education', to: 'ferbin#education'

  require 'sidekiq/web'
  constraints subdomain: 'admin' do
    constraints lambda {|request| request.session[:user_id].present? } do
      mount Sidekiq::Web => '/sidekiq'
    end
  end

  constraints subdomain: 'todoapp' do
    # mount Todoapp::Engine => "/"
  end
  
  constraints subdomain: 'sharefilesapp' do
    # mount ShareFilesApp::Engine => "/"
  end

  get '*unmatched_route', to: 'application#raise_not_found'
  root to: "ferbin#index"
end
