# /etc/systemd/system/my_website.service
# After installing or making changes to my_website.service
# systemctl daemon-reload
# Enable so it starts on boot
# systemctl enable my_website.service
# Initial start up.
# systemctl start my_website.service
# Check status
# systemctl status my_website.service
# A normal restart. Warning: listeners sockets will be closed
# while a new puma process initializes.
# systemctl restart my_website.service

[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
# Foreground process (do not use --daemon in ExecStart or config.rb)
Type=forking

# Preferably configure a non-privileged user
User=ubuntu

# The path to the your application code root directory.
WorkingDirectory=/home/ubuntu/data/my_website

# Helpful for debugging socket activation, etc.
# Environment=PUMA_DEBUG=1

# an absolute URL to puma. For example /usr/local/bin/puma
ExecStart=/usr/local/rvm/wrappers/ruby-2.7.0@my_website/puma -C /home/ubuntu/data/my_website/config/puma.rb ../config.ru

Restart=always

[Install]
WantedBy=multi-user.target